@import '@tunaiku-ui-web/spacing/scss';
@import '@tunaiku-ui-web/typography/scss';
@import '@tunaiku-ui-web/color/scss';

$amb-circular-stepper-border-radius: 50%;
$amb-circular-stepper-z-index: 40;
$amb-circular-stepper-height: 60px;
$amb-circular-stepper-width: 60px;

$amb-linear-stepper-step-active-color: amb-color-accent('blue');
